@use '@styles/transition.scss';
@import '@styles/typography.scss';
@import '@styles/responsive.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  .fieldsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    .iconSelector {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: 1px solid var(--gray3);
      transition: transition.standard(border);

      &:hover {
        border-color: var(--green3);
      }
    }

    .iconValue {
      width: 40px;
      height: 40px;

      svg {
        width: 100%;
        height: 100%;
        transition: transition.standard(color);
      }
    }
  }
}

.iconsWrapper {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-columns: 40px 40px 40px;
  padding: 8px;
  gap: 4px;
  border: 1px solid var(--gray3);
  background-color: #fff;

  .iconBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--black);
    transition: transition.standard(border);

    &:hover {
      border-color: var(--green3);

      svg {
        color: var(--green3);
      }
    }

    svg {
      width: 100%;
      height: 100%;
      transition: transition.standard(color);
    }
  }
}