@import '@styles/responsive.scss';

.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  .fieldWrapper {
    &.s1Wrapper {
      width: gs-columns-width(4);
      aspect-ratio: 3 / 2;
    }

    &.s2Wrapper {
      width: gs-columns-width(8);
      height: 100%;
    }
  }
}