@import '@styles/responsive.scss';

.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  .avatarFieldWrapper {
    width: gs-columns-width(3);
    aspect-ratio: 1 / 1;
  }

  .descFieldWrapper {
    width: gs-columns-width(9);
    height: 100%;
  }
}