@import '@styles/responsive.scss';

.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  .avatarFieldWrapper {
    width: gs-columns-width(3);
    aspect-ratio: 1 / 1;
  }

  .descFieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: gs-columns-width(9);
    height: 100%;
    gap: 32px;

    .fieldWrapper {
      flex: 1;
      align-self: stretch;
    }

    .editorField {
      min-height: 320px;
    }
  }
}