@import '@styles/typography.scss';
@import '@styles/responsive.scss';

.root {
  padding: 40px var(--grid-system-margin);

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .avatarFieldWrapper {
      width: gs-columns-width(3);

      .imageWrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;

        .imagePlaceholder {
          @include typo-h3;
          font-weight: 500;
          color: var(--black);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: var(--green15);
        }
      }
    }

    .descFieldWrapper {
      width: gs-columns-width(9);

      .text {
        @include typo-body1;
        font-weight: 500;
        color: var(--black);
      }
    }
  }
}