.root {
  display: grid;
  width: 40px;
  height: 40px;
  padding: 4px;
  align-items: var(--position);
  gap: var(--gap);
  grid-template-columns: var(--template);

  .paragraphItem {
    height: 2px;
    background-color: var(--black);
  }

  .imageItem {
    aspect-ratio: 1 / 1;
    background-color: var(--black);
  }
}