@import '@styles/typography.scss';
@import '@styles/responsive.scss';

.root {
  padding: 40px var(--grid-system-margin);

  .area {
    border: 4px dashed var(--blue3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    cursor: pointer;

    &:hover {
      background-color: var(--green1);
    }

    .add {
      @include typo-h3;
      font-weight: 500;
    }
  }
}