@import '@styles/responsive.scss';

.root {
  position: relative;

  &:hover {
    @include mediaQueryOn($pc1440) {
      border-right: 1px solid var(--gray4);
      border-left: 1px solid var(--gray4);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      background-color: var(--gray4);
    }

    .controllerWrapper, .plusWrapper {
      display: flex;
    }
  }

  .controllerWrapper {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    left: var(--grid-system-margin);
    background-color: #fff;
    border: 1px solid var(--gray2);

    @include mediaQueryOn($pc1440) {
      left: 0;
    }

    .actionBtn {
      width: 40px;
      height: 40px;
      color: var(--black);
      background-color: transparent;
      border-right: 1px solid var(--gray2);

      &:last-child {
        border-right: none;
      }

      &.disabled {
        cursor: not-allowed;
        color: var(--gray4);
      }

      &:hover {
        .icon {
          color: var(--blue3);
        }
      }

      .icon {
        font-size: 32px;
      }
    }
  }

  .plusWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--gray4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .plusBtn {
      width: 40px;
      height: 40px;
      background-color: var(--black);
      border-radius: 50%;
      border: 1px solid var(--black);
      color: #fff;

      &:hover {
        background-color: #fff;
        border-color: var(--blue3);
        color: var(--blue3);
      }

      .plusIcon {
        font-size: 32px;
      }
    }
  }
}