@use './transition.scss';
@import './palette.scss';
@import './responsive.scss';
@import './mezzanine.scss';

:root {
  --full-width: 100vw;

  /* grid system */
  --grid-system-gap: #{$gs-gutter-1441};
  --grid-system-margin: calc((var(--full-width) - #{$gs-content-max-width}) / 2);
  --grid-system-column-count: #{$gs-column-count-1441};

  @include mediaQuery($pc1440, $pc1024) {
    --grid-system-gap: #{$gs-gutter-1440-1024};
    --grid-system-margin: #{$gs-margin-1440-1024};
    --grid-system-column-count: #{$gs-column-count-1440-1024};
  }
  @include mediaQuery($pc1024, $mob768) {
    --grid-system-gap: #{$gs-gutter-1023-768};
    --grid-system-margin: #{$gs-margin-1023-768};
    --grid-system-column-count: #{$gs-column-count-1023-768};
  }
  @include mediaQuery($mob768, $mob568) {
    --grid-system-gap: #{$gs-gutter-767-568};
    --grid-system-margin: #{$gs-margin-767-568};
    --grid-system-column-count: #{$gs-column-count-767-568};
  }
  @include mediaQuery($mob568, $mob0) {
    --grid-system-gap: #{$gs-gutter-567-0};
    --grid-system-margin: #{$gs-margin-567-0};
    --grid-system-column-count: #{$gs-column-count-567-0};
  }

  --grid-system-width: calc(var(--full-width) - var(--grid-system-margin) - var(--grid-system-margin));
  --grid-system-column-width: calc((var(--grid-system-width) - ((var(--grid-system-column-count) - 1) * var(--grid-system-gap))) / var(--grid-system-column-count));
}

* {
  box-sizing: border-box;
  outline: none;
  touch-action: manipulation;
  font-family: PingFang TC, Microsoft JhengHei, sans-serif;
  margin: 0;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  touch-action: manipulation; // 禁止double-tap手勢
  -webkit-overflow-scrolling: touch;
}

html {
  width: 100%;
}

body {
  position: relative;
  width: 100%;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--gray4);
}

a {
  color: var(--green3);
  text-decoration: underline;
  transition: transition.standard(color);

  &:hover {
    color: var(--green4);
  }
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}