@use '~@mezzanine-ui/core' as mzn-core;
@use '~@mezzanine-ui/system' as mzn-system;
@use '~@mezzanine-ui/system/palette' as mzn-palette;
@use '~@mezzanine-ui/system/spacing' as mzn-spacing;
@use '~@mezzanine-ui/system/z-index' as mzn-z-index;

:root {
  @include mzn-system.common-variables();
  @include mzn-palette.variables('light');
  @include mzn-spacing.variables();
  @include mzn-z-index.variables();
}

@include mzn-core.styles();

// Modal
.mzn-overlay {
  .mzn-modal {
    max-height: unset;
    background-color: #fff;
    margin: 0;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
  }
}

// Select
.mzn-icon.mzn-text-field__action-icon.mzn-select-trigger__suffix-action-icon[data-icon-name='chevron-down'] {
  pointer-events: none;
}