:root {
  --green1: #F7FFF8;
  --green15: #E9F7EC;
  --green2: #CFEAD6;
  --green25: #65AD77;
  --green3: #3A834C;
  --green4: #246531;
  --blue1: #CEE1FD;
  --blue2: #A1C6FD;
  --blue3: #095BD2;
  --orange: #FEA840;
  --red: #FD615D;
  --white: #FFFFFF;
  --gray1: #F5F5F5;
  --gray2: #F0F0F0;
  --gray3: #E6E6E6;
  --gray35: #C0C2C9;
  --gray4: #9EA0A9;
  --gray5: #64666D;
  --gray6: #2F3033;
  --black: #212224;
}
