/* grid: column count */
$gs-column-count-1441: 12;
$gs-column-count-1440-1024: 12;
$gs-column-count-1023-768: 12;
$gs-column-count-767-568: 12;
$gs-column-count-567-0: 6;
/* grid: max width */
$gs-content-max-width: 1280px;
/* grid: column gutter */
$gs-gutter-1441: 40px;
$gs-gutter-1440-1024: 40px;
$gs-gutter-1023-768: 20px;
$gs-gutter-767-568: 20px;
$gs-gutter-567-0: 20px;
/* grid: margin */
$gs-margin-1441: 80px;
$gs-margin-1440-1024: 80px;
$gs-margin-1023-768: 40px;
$gs-margin-767-568: 40px;
$gs-margin-567-0: 20px;

// rwd breakpoints
$pcMax: 99999;
$pc1440: 1440;
$pc1280: 1280;
$pc1024: 1024;
$mob768: 768;
$mob568: 568;
$mob0: 0;

@mixin mediaQuery($UBoundPlus1, $LBound) {
  @media all and (max-width: #{$UBoundPlus1 - 1}px) and (min-width: #{$LBound}px) {
    @content
  }
};

@mixin mediaQueryOn($LBound) {
  @media all and (min-width: #{$LBound}px) {
    @content
  }
};

@mixin mediaQueryUnder($UBoundPlus1) {
  @media all and (max-width: #{$UBoundPlus1 - 1}px) {
    @content
  }
};

@mixin gs-margin() {
  margin-left: var(--grid-system-margin);
  margin-right: var(--grid-system-margin);
};

@function gs-columns-width($_) {
  @return calc((var(--grid-system-column-width) * $_) + (($_ - 1) * var(--grid-system-gap)));
}
@function gs-column-left($columnIndex) {
  @return calc((var(--grid-system-column-width) + var(--grid-system-gap)) * $columnIndex);
}