@import  './responsive.scss';

@mixin typo-marquee-lg {
  font-size: 100px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.01em;
}

@mixin typo-marquee-sm {
  font-size: 80px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-marquee-xs {
  font-size: 60px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-marquee {
  @include typo-marquee-lg;

  @include mediaQuery($pc1024, $mob568) {
    @include typo-marquee-sm;
  }

  @include mediaQuery($mob568, $mob0) {
    @include typo-marquee-xs;
  }
}


@mixin typo-h0-lg {
  font-size: 80px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.01em;
}

@mixin typo-h0-sm {
  font-size: 66px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-h0-xs {
  font-size: 40px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-h0 {
  @include typo-h0-lg;

  @include mediaQuery($pc1024, $mob568) {
    @include typo-h0-sm;
  }

  @include mediaQuery($mob568, $mob0) {
    @include typo-h0-xs;
  }
}


@mixin typo-h1-lg {
  font-size: 56px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.01em;
}

@mixin typo-h1-sm {
  font-size: 48px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-h1-xs {
  font-size: 40px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-h1 {
  @include typo-h1-lg;

  @include mediaQuery($pc1024, $mob568) {
    @include typo-h1-sm;
  }

  @include mediaQuery($mob568, $mob0) {
    @include typo-h1-xs;
  }
}


@mixin typo-h2-sm {
  font-size: 32px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-h2-xs {
  font-size: 24px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-h2 {
  @include typo-h2-sm;

  @include mediaQuery($pc1024, $mob0) {
    @include typo-h2-xs;
  }
}


@mixin typo-h3-sm {
  font-size: 24px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@mixin typo-h3-xs {
  font-size: 20px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.01em;
}

@mixin typo-h3 {
  @include typo-h3-sm;

  @include mediaQuery($mob568, $mob0) {
    @include typo-h3-xs;
  }
}


@mixin typo-h4-sm {
  font-size: 20px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.01em;
}

@mixin typo-h4-xs {
  font-size: 16px;
  font-style: normal;
  line-height: 170%;
  letter-spacing: 0.01em;
}

@mixin typo-h4 {
  @include typo-h4-sm;

  @include mediaQuery($mob568, $mob0) {
    @include typo-h4-xs;
  }
}

@mixin typo-body1 {
  font-size: 18px;
  font-style: normal;
  line-height: 170%;
  letter-spacing: 0.01em;
}

@mixin typo-body2 {
  font-size: 16px;
  font-style: normal;
  line-height: 172%;
  letter-spacing: 0.01em;
}

@mixin typo-body3 {
  font-size: 14px;
  font-style: normal;
  line-height: 172%;
  letter-spacing: 0.01em;
}

@mixin multi-line-ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: #{$line};
}
